.controls {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1.5rem;
  width: 100%;
  justify-content: space-around;
}

.placeholder {
  height: 2rem;
}

/* ============================================================
   Icon size inside chart-type buttons
   ============================================================ */
.icon {
  width: 1.5rem;
  height: 1.5rem;
}

.custom {
  padding-top: 1rem;
  padding-bottom: 2rem;
}

@media (min-width: 1000px) {
  .controls {
    display: grid;
    grid-template-columns: auto auto;
    width: 40%;
    position: relative;
  }
  .custom {
    position: absolute;
    bottom: 0;
  }
}
