.controls {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;
}

.placeholder {
  height: 2rem;
}

/* ============================================================
   Icon size inside chart-type buttons
   ============================================================ */
.icon {
  width: 1.5rem;
  height: 1.5rem;
}

@media (min-width: 1000px) {
  .controls {
    width: 40%;
    flex-shrink: 0;
    justify-content: center;
  }
}
