.viewer {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.chartPanel {
  min-height: 260px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 1000px) {
  .viewer {
    flex-direction: row;
    align-items: center;
    gap: 2rem;
    min-height: calc(100vh - 8rem);
  }

  .chartPanel {
    flex: 1;
    align-self: stretch;
  }
}
