PORT=5000
MONGO_URI=mongo_uri
JWT_ACCESS_SECRET=change_this_secret
JWT_REFRESH_SECRET=change_this_secret
JWT_ACCESS_EXPIRES_IN=short_time
JWT_REFRESH_EXPIRES_IN=long_time
EMAILJS_SERVICE_ID=emailjs_service_id
EMAILJS_PRIVATE_KEY=emailjs_private_key
EMAILJS_PUBLIC_KEY=emailjs_public_key
EMAILJS_VERIFICATION_TEMPLATE_ID=email_js_verification_template_id
EMAILJS_RESET_TEMPLATE_ID=email_js_reset_template_id
CLIENT_URL=client_url
NODE_ENV=development
