.page {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.glassWrapper {
  padding: 1rem 2rem;
  clip-path: polygon(
    0 0,
    calc(100% - 12px) 0,
    100% 12px,
    100% 100%,
    12px 100%,
    0 calc(100% - 12px)
  );
}
