.neon {
  border-radius: 1rem;
  box-shadow:
    0 0 1rem var(--color-neon),
    0 0 2rem var(--color-neon),
    inset 0 0 1rem var(--color-neon),
    inset 0 0 2rem var(--color-neon);
  background-color: var(--color-surface);
  padding: 1rem;
}
