.actions {
  composes: actions from '../../../styles/shared.module.css';
}

.withDivider {
  padding-top: 0.5rem;
  border-top: 1px solid var(--color-border);
}

.right {
  composes: right from '../../../styles/shared.module.css';
  margin-left: auto;
}
